.img {
    width: 100%;
}


.divCard {
  display: flex;
  justify-content: center; 
margin-top: 20px;  
padding: 20px 0 ;
/* gap: 20px */
}










.filterContainer {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding: 8px 10px;
  max-width: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.filterContainer::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.filterItem {
  flex: 0 0 auto;
  white-space: nowrap;
  padding: 8px 16px;
  background: #f4f4f7; 
  color: black;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  font-family: var(--tgui--font-family);
}

.filterItem.active {
  background: #40a7e3; 
  color: white;
}